<div style="float: right; right: 10px; top: 16px; width: 50%; border-color: cadetblue; border-style: solid; border-width: 1px; padding: 4px; background-color: lightblue;">
    <button (click)="connect()">Connect</button>&nbsp;
    <button (click)="close()">Close</button>&nbsp;
    <hr>
    <button [disabled]="!this.port" (click)="calibrate()">Calibrate</button>&nbsp;
    <button [disabled]="!this.port" (click)="toggleL1()">Send 100</button>&nbsp;
    <hr>
    Position:
    <input type="text" maxlength="3" size="3" [(ngModel)]="inputData" placeholder="Enter data to send" width="10" /> mm &nbsp;
    <button [disabled]="!this.port" (click)="setHeight()">Set</button>&nbsp;
    <button [disabled]="!this.port" (click)="motorUp()">UP 1 mm</button>&nbsp;
    <button [disabled]="!this.port" (click)="motorDown()">DOWN 1 mm</button>
    <hr>

    <div>
        <div *ngIf="this.port">
            <span class="greendot"></span>
            <span>&nbsp;Connected</span>
        </div>
        <div *ngIf="!this.port">
            <span class="reddot"></span>
            <span>&nbsp;Disconnected</span>
        </div>
        <div>
            <h5>Received Data:</h5>
            <p>{{ outputData }}</p>
            Msg: {{onMessage | async}}

        </div>
    </div>
</div>
<div style="position: fixed; bottom: 20px;">Test: <button (click)="t()">T</button></div>

<app-device [position]="currentHeight*10"></app-device>
<div id="Footer" style="position: fixed; bottom: 0px;">JKU Loop Reactor: 2025 All rights reserved. Developed by Philip Lidner and Grigor Tonkov</div>